<!--<img class="photo" src="<%= photo %>"/>-->
<h1 class="fn"><%= name %></h1>
<h2 class="role"><%= job_position %></h2>
<div class="content">
	<ul class="contact">
		<li class="email"><%= email %></li>
		<li class="tel"><%= phone %></li>
		<li class="url"><a href="<%= website %>" title="<%= name %> Website"><%= website %></a></li>
		<li class="adr"><span class="locality"><%= locality %></span>, <span class="country-name"><%= country %></span></li>
		<li class="url twitter"><%= aditional %></li>
	</ul>
</div>
